<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GfxDataService</title>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        body {
            /* Prevents scrollbars */
            overflow: hidden;
        }
    </style>
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>