@using global::Shared.Services
@inject ServiceStatusTracker status;

<p>
    @TService.Name: 
    <span>
        <span class="font-weight-bold @StatusColor">@StatusText</span>
    </span>
</p>

@code {
    [Parameter]
    public required Type TService { get; set; }
    
    private ServiceStatus Status => status.GetStatus(TService);
    private string StatusText => Status.ToString();
    private string StatusColor => Status switch
    {
        ServiceStatus.Running => "text-success",
        ServiceStatus.NotRunning => "text-danger",
        ServiceStatus.Disabled => "text-warning",
        _ => "text-secondary"
    };
}