@page "/settings"
@using global::Shared.Enums
@using LiveStatsManager.Services
@inject AppState appState

<h3>Global Settings</h3>

<HxCard>
    <HeaderTemplate>Sport Select</HeaderTemplate>
    <BodyTemplate>
        <select class="form-select" @bind="Sport" @bind:after="SetSport">
            <option value="@Sport.MensBasketball">Men's Basketball</option>
            <option value="@Sport.WomensBasketball">Women's Basketball</option>
            <option value="@Sport.Wrestling">Wrestling</option>
        </select>
    </BodyTemplate>
</HxCard>

<HxCard CssClass="mt-3">
    <HeaderTemplate>Home Team</HeaderTemplate>
    <BodyTemplate>
        <TeamSettings IsHome="true"></TeamSettings>
    </BodyTemplate>
</HxCard>

<HxCard CssClass="mt-3">
    <HeaderTemplate>Away Team</HeaderTemplate>
    <BodyTemplate>
        <TeamSettings IsHome="false"></TeamSettings>
    </BodyTemplate>
</HxCard>

@code {
    private Sport Sport { get; set; }

    protected override void OnInitialized() => Sport = appState.Sport;
    private void SetSport() => appState.SetSport(Sport);
}
