@using LiveStatsManager.Services
@using NCAALiveStats
@inject RawGameState gameState
@inject AppState appState

<div id="game-bar-container" class="border rounded w-full p-2 mx-4">
    
</div>

<style>
    #game-bar-container {
        height: 15%;
    }
</style>

@code {
    
}