@using LiveStatsManager.Services
@using NCAALiveStats
@inject RawGameState gameState
@inject AppState appState

<div id="game-bar-container" class="rounded w-full px-5 py-1 mx-4 d-flex justify-content-between bg-dark-subtle">
    <GameBarTeam Side="TeamSide.Away" />
    <GameBarInfo/>
    <GameBarTeam Side="TeamSide.Home" />
</div>

<style>
    #game-bar-container {
        height: 15%;
    }
</style>

@code {
    
}